.text-heading { font-size:24px; color:#fff; }
.btn-sub { max-width:400px;  width: 100%; border-radius: 20px; font-size:28px; --border-radius: 20px;
   height: 100px; margin:20px auto 10px;}
.btn-sub { max-width:400px;  width: 100%; border-radius: 20px; font-size:28px; --border-radius: 20px;
   height: 100px; margin:20px auto 10px;}
 .back-ico { color:#fff !important;}