
<ion-header>
  <ion-toolbar color="primary" class="ion-padding-end-10 header_tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose your login type </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form class="ion-formbg">
    <ion-row class=" ion-padding-top ion-margin-top">
      <ion-col size="12" class="ion-text-center ion-no-padding">
        <img src="assets/image52.png" alt="">
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-list lines="none" no-lines>
          <ion-item class="border-no-bottom">
            <ion-button color="primary" class="btn-sub" expand="block" [routerLink]="['/pages/student-login']"><ion-icon name="school"></ion-icon> &nbsp; Student Login 
             </ion-button>
          </ion-item>
          <ion-item class="border-no-bottom">
            <ion-button color="dark" class="btn-sub" expand="block" [routerLink]="['/pages/staff-login']"><ion-icon name="people"></ion-icon> &nbsp; Staff Login </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </form>