<ion-content [fullscreen]="true" class="ion-bg ion-no-padding ion-no-margin">
  <div class="overlay-container">

    <div class="overlay orange"></div>
  </div>
  <ion-toolbar class="ion-padding-vertical ion-text-center">
    <ion-back-button defaultHref="student/profile" slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-back-button>
    <img src="assets/esslogo.png" width="140" alt class="ion-margin-top">
  </ion-toolbar>
  <ion-text class="ion-text-center ion-margin-bottom">
    <h2>Student Timeline</h2>
  </ion-text>
  <ion-text class="ion-text-center  ion-margin-top" color="primary">
    <h4>Name -Sukhvir Kaur</h4>
  </ion-text>
  <div class="box">
    <ul id="first-list" *ngFor="let item of timeLineList">
      <li>
       <!-- <span></span>  -->

        <div  [routerLink]="['/student/support']" class="info ion-padding-bottom">{{item?.text}}<br>
          <ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon>
        </div>

        <div  class="time" *ngIf="item?.color=='green'">
          <span style="background-color: green; border-radius: 50%; color: #fff; width: 40px; height: 40px; text-align: center; line-height: 40px;">{{item?.status}}</span>
        </div>
        <div  class="time" *ngIf="item?.color=='red'">
          <span style="background-color: red;border-radius: 50%;color: #fff;  width: 40px; height: 40px;  text-align: center; line-height: 40px;">{{item?.status}}</span>
        </div>
      </li>

     

      <!-- <li>
        <span></span>

        <div class="info ion-padding-bottom">Offer recievd<br><ion-icon
            name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>
        <div class="time">
          <span>FAIR</span>
        </div>
      </li> -->
      <!-- <li>
        <span></span>

        <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see here only . you
          can learn how to animate and how to use SVG<br><ion-icon name="chatbox-ellipses-outline"
            class="ion-float-end ion-margin-bottom"></ion-icon></div>
        <div class="time">
          <span>FAR</span>
        </div>
      </li> -->

    </ul>
    <!-- <ion-button color="primary" class="btn-sub" expand="block">Proceed <ion-icon
        name="chevron-forward-sharp"></ion-icon> <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-button> -->

  </div>

  <!-- <timeline>
    <timeline-item>
      <timeline-time>3456</timeline-time>
      <ion-icon></ion-icon>
      <ion-card>
        <ion-card-header>
         jgj
        </ion-card-header>
        <ion-card-content>
         hfgh
        </ion-card-content>
      </ion-card>
    </timeline-item>
</timeline> -->

</ion-content>