<ion-content [fullscreen]="true" class="ion-bg ion-no-padding ion-no-margin">
         <div class="overlay-container">
    
        <div class="overlay orange"></div>
      </div>
  <ion-toolbar class="ion-padding-vertical ion-text-center"> 
   <ion-back-button defaultHref="/" slot="start">
     <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-back-button>
       <img src="assets/esslogo.png" width="140" alt="" class="ion-margin-top"> 
   </ion-toolbar>
   <ion-text class="ion-text-center ion-margin-bottom"><h2>Student Timeline</h2></ion-text>
   <ion-text class="ion-text-center  ion-margin-top" color="primary"><h4>Name -Sukhvir Kaur</h4></ion-text>
 <div class="box">
  <ul id="first-list">
    <li>
      <span></span>
      
      <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see .   <br><ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>

      <div class="time">
        <span>Step1</span>
      </div>
    </li>
    <li>
      <span></span>
      
      <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see here only . you can learn how to animate and how to use SVG . <br><ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>
            <div class="time">
           <span>Step2</span>
      </div>
    </li>
    <li>
      <span></span>
      
      <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see . what about canvas ?? do you like it ..<br><ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>
      
    <div class="time">
           <span>Step3</span>
      </div>
    </li>


    <li>
      <span></span>
      
      <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see .<br><ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>
        <div class="time">
           <span>Step4</span>
      </div>
    </li>
    <li>
      <span></span>
      
      <div class="info ion-padding-bottom">the best animation , the best toturials you would ever see here only . you can learn how to animate and how to use SVG<br><ion-icon name="chatbox-ellipses-outline" class="ion-float-end ion-margin-bottom"></ion-icon></div>
          <div class="time">
           <span>Step5</span>
      </div>
    </li>



  </ul>
    <ion-button color="primary" class="btn-sub" expand="block">Proceed <ion-icon name="chevron-forward-sharp"></ion-icon> <ion-icon name="chevron-forward-sharp"></ion-icon></ion-button>

</div>
  
  <!-- <timeline>
    <timeline-item>
      <timeline-time>3456</timeline-time>
      <ion-icon></ion-icon>
      <ion-card>
        <ion-card-header>
         jgj
        </ion-card-header>
        <ion-card-content>
         hfgh
        </ion-card-content>
      </ion-card>
    </timeline-item>
</timeline> -->

</ion-content>
  

