.btn-sub {width: 178px;
height: 43px;
border-radius: 10px; margin:40px auto; font-size:20px; text-transform:uppercase;
}
.ion-q-card { width: 92%;
height: 337px;
padding:30px;
border-radius: 50px 0px 50px 0px;background: #007DC5;

}
.ion-q-card h3 {  color:#fff;
font-size: 30px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
}
.ion-qitem {width: 100%;
height: 46px;
border-radius: 15px; margin:10px 0px; border:none;
}
.plus-ico { font-size:26px; margin-top:-7px;}
.btn-sub2 { color:#000 !important;--color:#000 !important; font-size: 18px; margin: 0px; width: 100%;height: 44px;;}
