<ion-header>
  <ion-toolbar color="primary" class="ion-padding-end-10 header_tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/student"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title-header">Test Paper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide" pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>