<ion-header  color="primary"> 
 <ion-toolbar  color="primary"  class="ion-padding-top">
    <ion-back-button defaultHref="/" slot="start" color="light">
      <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
    </ion-back-button>
    <ion-title class=" text-heading ion-padding-end" color="light">Interview Page</ion-title>
        <ion-icon class="logout-ico" name="power" slot="end" color="light"></ion-icon>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  
  <ion-row class=" ion-justify-content-center">
     <ion-col class="ion-padding-horizontal">
        <ion-button class="link-btn">
       <img src="assets/Group 103.png"> &nbsp;  Generate New Link 
        </ion-button>
      </ion-col>

   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/calender.png">
<h4>Attendence</h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/notice.png">
<h4>Notice Board</h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/bubble-chat.png">
<h4>Chat</h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/link.png">
<h4>Interview Link </h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/book.png">
<h4>Study Material </h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/question.png">
<h4>Question Paper</h4>
    </ion-card> 
   </ion-col>

   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/question.png">
<h4>Recording</h4>
    </ion-card> 
   </ion-col>
   
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/megaphone.png">
<h4>News</h4>
    </ion-card> 
   </ion-col>
   <ion-col size="6">
    <ion-card class="Services-card">
<img src="assets/banner.png">
<h4>Banner Images</h4>
    </ion-card> 
   </ion-col>

   </ion-row>

</ion-content>
