<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Study Abroad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class=" justify-content-center">
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_Australia.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/australia-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in Australia
                    </h5>
                    <p>25 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_canada.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/canada-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in Canada
                    </h5>
                    <p>58 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_france.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/france-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       France
                    </h5>
                    <p>33 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_germany.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/germany-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in germany 
                    </h5>
                    <p>33 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_india.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/india-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in India
                    </h5>
                    <p>38 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_japan.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/japan-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in Japan
                    </h5>
                    <p>33 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_korea.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/korea-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in Korea
                    </h5>
                    <p>25 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_Singapore.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/singapore-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in Singapore
                    </h5>
                    <p>38 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_uk.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/uk-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       United Kingdom
                    </h5>
                    <p>33 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        <ion-card class="countries-item img-top">
            <div class="countries-item__top">
                <div class="countries-item__top-img">
                    <img src="https://essglobal.com/images/02/std_usa.jpg" alt="">
                </div>
            </div>
            <div class="countries-item__bottom d-flex align-items-center">
                <div class="countries-item__bottom-img me-2">
                    <img src="https://essglobal.com/images/04/usa-icon-flag.png" alt="">
                </div>
                <div class="countries-item__bottom-content">
                    <h5 class="countries-item__bottom-content-title">
                       Study in USA
                    </h5>
                    <p>25 Universities</p>
                </div>
            </div>
        </ion-card>
    </ion-col>
</ion-row>
  </ion-content>