.ios.tab-has-icon.tab-has-icon-only.tab-layout-icon-top.ion-activatable.ion-selectable.ion-focusable.tab-selected
 img,
.ios.tab-has-icon.tab-has-icon-only.tab-layout-icon-top.ion-activatable.ion-selectable.ion-focusable.tab-selected
.ion-icon { border-bottom:3px solid #fff;}
.ios.tab-has-icon ,
.ios.tab-has-icon .ion-icon { font-size: 50px;  padding-top: 5px;padding-bottom: 5px; border-bottom:3px solid #007dc4;}