<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary" class="ion-no-padding">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" class="ion-icon" name="home"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
    
      <img src="assets/image 20.png" class="ion-icon" width="25">
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" class="ion-icon" name="add-circle-outline"></ion-icon>
  
      <ion-label>Tab 3</ion-label> 
    </ion-tab-button> -->

    <ion-tab-button tab="pages">
      <ion-icon class="ion-icon" name="person-circle-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
