.pbmit-team-cursor-mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	overflow: hidden
}

.pbmit-team-cursor {
	width: 0;
	height: 0;
	margin: 0;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 0 0 5000px #003f44;
	box-shadow: 0 0 0 5000px #003f44;
	border-bottom-right-radius: calc(100% + 0px);
	-webkit-transition: width .3s cubic-bezier(.4, 0, .2, 1), height .3s cubic-bezier(.4, 0, .2, 1), margin .3s cubic-bezier(.4, 0, .2, 1);
	transition: width .3s cubic-bezier(.4, 0, .2, 1), height .3s cubic-bezier(.4, 0, .2, 1), margin .3s cubic-bezier(.4, 0, .2, 1);
	border: 0 solid var(--pbmit-attorly-secondary-color)
}

.pbmit-team-cursor:before {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	content: "";
	-webkit-transition: -webkit-transform .6s .3s cubic-bezier(.4, 0, .2, 1);
	transition: -webkit-transform .6s .3s cubic-bezier(.4, 0, .2, 1);
	transition: transform .6s .3s cubic-bezier(.4, 0, .2, 1);
	transition: transform .6s .3s cubic-bezier(.4, 0, .2, 1), -webkit-transform .6s .3s cubic-bezier(.4, 0, .2, 1);
	border-radius: 100%
}

.pbmit-team-cursor.active:before {
	transform: scale3d(1, 1, 1);
	opacity: 1
}

.pbmit-team-cursor.active {
	width: 22.8571428571vw;
	height: 22.8571428571vw;
	margin: -11.4285714286vw 0 0 -11.4285714286vw;
	border: 3px solid #f6c15f
}

.pbmit-element-team-style-1 .pbmit-element-posts-wrapper .row {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.pbmit-element-team-style-1 .pbmit-element-posts-wrapper .pbmit-ele.pbmit-team-style-1,
.pbmit-element-team-style-1 .pbminfotech-team-content.row>* {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.pbmit-element-team-style-1 .pbmit-element-posts-wrapper {
	position: relative
}

.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper,
.pbmit-team-style-1 .pbminfotech-post-item {
	position: relative;
	padding: 70px 5rem 0
}

.pbmit-element-team-style-1 .pbmit-team-title {
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 10px;
	-webkit-transition: -webkit-transform .6s cubic-bezier(.345, 0, 0, 1);
	transition: -webkit-transform .6s cubic-bezier(.345, 0, 0, 1);
	transition: transform .6s cubic-bezier(.345, 0, 0, 1);
	transition: transform .6s cubic-bezier(.345, 0, 0, 1), -webkit-transform .6s cubic-bezier(.345, 0, 0, 1)
}

.pbmit-element-team-style-1 .pbmit-team-title a {
	color: var(--pbmit-attorly-white-color)
}

.pbmit-element-team-style-1 .pbminfotech-box-content-inner:hover .pbmit-team-title a {
	color: #f6c15f
}

.pbmit-element-team-style-1 .pbminfotech-box-content-inner:hover .pbmit-team-title {
	-webkit-transform: translate3d(-3rem, 0, 0);
	transform: translate3d(-3rem, 0, 0)
}

.pbmit-element-team-style-1 .pbminfotech-team-content {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 30
}

.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper {
	visibility: hidden
}

.pbmit-element-team-style-1 .pbminfotech-team-content .pbminfotech-box-content {
	overflow: hidden;
	position: relative;
	margin-bottom: 30px
}

.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
	position: absolute;
	padding: 3.75rem 0 0 5rem;
	padding-top: 14rem;
	width: 100%;
	height: 100%
}

.pbmit-element-team-style-1 .pbmit-team-social-links li a {
	color: rgb(255 255 255/50%)
}

.pbmit-element-team-style-1 .pbminfotech-box-content-inner:hover .pbmit-team-social-links li a {
	color: #fff
}

.pbmit-element-team-style-1 .pbminfotech-box-content .pbminfotech-box-team-position {
	color: #f6c15f;
	margin-bottom: 20px
}

.pbmit-element-team-style-1 .pbmit-team-social-links li a:hover {
	color: #f6c15f
}

.pbmit-element-team-style-1 {
	padding-left: 5%;
	padding-bottom: 120px
}

@media(max-width:1300px) {
	.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
		padding-top: 9rem
	}
}

@media(max-width:1200px) {
	.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
		padding: 145px 0 0 40px
	}

	.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper,
	.pbmit-team-style-1 .pbminfotech-post-item {
		padding: 70px 0 0
	}

	.pbmit-element-team-style-1 {
		padding-bottom: 0
	}

	.pbmit-element-team-style-1 .pbminfotech-box-content-inner:hover .pbmit-team-title {
		-webkit-transform: translate3d(-2rem, 0, 0);
		transform: translate3d(-2rem, 0, 0)
	}
}

@media(max-width:1200px) {

	.pbmit-element-team-style-1 .pbminfotech-team-content .pbminfotech-box-content,
	.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper,
	.pbmit-team-style-1 .pbminfotech-post-item {
		text-align: center
	}

	.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
		padding: 270px 0;
		z-index: 1;
		left: 100px;
		text-align: left
	}

	.pbmit-element-team-style-1 .pbmit-team-cursor.active {
		height: 300px;
		width: 300px
	}

	.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper {
		visibility: visible
	}

	.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper,
	.pbmit-team-style-1 .pbminfotech-post-item {
		padding: 50px 0 0
	}

	.pbmit-element-team-style-1 .pbmit-team-cursor,
	.pbmit-element-team-style-1 .pbmit-team-cursor-mask {
		position: unset
	}

	.pbmit-element-team-style-1 .pbminfotech-box-content-inner:hover .pbmit-team-title {
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
}

@media(max-width:991px) {

	/* .pbmit-element-team-style-1 .pbminfotech-box-content,
	.pbmit-element-team-style-1 .pbmit-element-posts-wrapper .row,
	.pbmit-element-team-style-1 .pbmit-ele.pbmit-team-style-1 {
		width: 50%;
		flex: 50%
	} */
}

@media(max-width:767px) {.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
    padding: 300px 0 0
}}
@media(max-width:575px) {
	.pbmit-element-team-style-1 .pbminfotech-box-content-inner {
		left: 30px
	}
	.pbmit-element-team-style-1 .pbminfotech-box-content,
	.pbmit-element-team-style-1 .pbmit-element-posts-wrapper .row,
	.pbmit-element-team-style-1 .pbmit-ele.pbmit-team-style-1 {
		width: 100%;
		flex: 100%
	}
	.pbmit-element-team-style-1 .pbminfotech-team-content .pbminfotech-box-content {
		text-align: left
	}

	

	.pbmit-element-team-style-1 .pbminfotech-team-content .pbmit-featured-img-wrapper,
	.pbmit-team-style-1 .pbminfotech-post-item {
		padding: 30px 0 0
	}
}