<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-padding-vertical ">
    <ion-back-button defaultHref="/" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <img src="assets/esslogo.png" width="140" alt="" class="ion-margin-top">

  </ion-toolbar>

  <ion-row>

    <ion-col size="12" class=" ion-margin-top ion-no-padding">

      <ion-list class="ion-no-padding" lines="none" no-lines *ngIf="role">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/ess-ico.png" class="user-img user-img1"></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-textarea name="post" [(ngModel)]="post" class=" post-input" placeholder="Write Something Here" required></ion-textarea>
          </ion-label>


          <div class="upload-btn-wrapper">
            <ion-button color="white" class="btn">
              <ion-icon name="image" slot="end"></ion-icon></ion-button>
            <ion-input type="file" (change)="onFileChange($event)" class="upload-input" name="myfile"></ion-input>
          </div>
          <!-- <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon> -->
        </ion-item>
        <ion-item>

          <ion-col size="7" class="ion-padding-horizontal ion-text-center">
            <ion-row>
              <ion-col size="3" *ngFor="let img of privImgList">
                <ion-badge class="cross-badge" color="danger"><ion-icon name="close-outline"></ion-icon></ion-badge>
                <ion-img src="{{img}}" class="user-img"></ion-img>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="5" class="ion-padding ion-text-center">
            <ion-button class="btn-up" (click)="posts()">Post</ion-button>
          </ion-col>
        </ion-item>
      </ion-list>
      <ion-list class="ion-no-padding" lines="none" no-lines  *ngFor="let item of postList">
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/image 20.png" class="user-img"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Ess</h2>
            <p>{{ item?.createdAt | date }}</p>
          </ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end" *ngIf="role"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding feed-item" no-padding>
          <swiper-container [loop]="true" #swiper Initial-slide="0" [pagination]="{type:'bullets',clickable:true}">
            <swiper-slide *ngFor="let img of item?.images"><img src="{{img}}"></swiper-slide>
          </swiper-container>
        </ion-item>
        <ion-item>
          <ion-label class="post-text">
            <!-- <span (click) = "comment(item?._id)" class="ion-float-end" slot="end">1 
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </span> -->
            <p>{{item?.posts}} </p> 
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>


  <ion-content class="ion-padding">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>comments</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label> Avatar Item </ion-label>
          </ion-item>       
        </ion-content>
        <ion-footer>
          <ion-item>
            <ion-textarea  (keydown.enter)="saveCm($event)" placeholder="Type something here"></ion-textarea>
          </ion-item>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </ion-content>
 
</ion-content>