<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-padding-vertical ">
    <ion-back-button defaultHref="/" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <img src="assets/esslogo.png" width="140" alt="" class="ion-margin-top">

  </ion-toolbar>

  <ion-row>

    <ion-col size="12" class=" ion-margin-top ion-no-padding">

      <ion-list class="ion-no-padding" lines="none" no-lines>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/user1.jpeg" class="user-img"></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-input name="fileNo" class=" post-input" placeholder="Write Something Here" required></ion-input>
          </ion-label>
                    

<div class="upload-btn-wrapper">
  <ion-button color="white" class="btn">   
    <ion-icon name="image" slot="end"></ion-icon></ion-button>
  <ion-input type="file" class="upload-input" name="myfile" ></ion-input>
</div>
          <!-- <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon> -->
        </ion-item>
        <ion-item>

    <ion-col size="7" class="ion-padding-horizontal ion-text-center">
      <ion-row>
        <ion-col size="3">  <ion-badge class="cross-badge" color="danger"><ion-icon name="close-outline"></ion-icon></ion-badge>
           <ion-img src="assets/user2.jpg" class="user-img"></ion-img>
           </ion-col>
 <ion-col size="3">
  <ion-badge class="cross-badge" color="danger"><ion-icon name="close-outline"></ion-icon></ion-badge>
  <ion-img src="assets/user3.jpeg" class="user-img"></ion-img>
</ion-col>
 <ion-col size="3">  <ion-badge class="cross-badge" color="danger"><ion-icon name="close-outline"></ion-icon></ion-badge>
  <ion-img src="assets/user1.jpeg" class="user-img"></ion-img> 
</ion-col> 
 <ion-col size="3">  <ion-badge class="cross-badge" color="danger"><ion-icon name="close-outline"></ion-icon></ion-badge>
  <ion-img src="assets/user1.jpeg" class="user-img"></ion-img> 
</ion-col> 
</ion-row></ion-col>
    <ion-col size="5" class="ion-padding ion-text-center">
      <ion-button class="btn-up" >Upload</ion-button>
    </ion-col>
  </ion-item>
      </ion-list>
      <ion-list class="ion-no-padding" lines="none" no-lines>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/user1.jpeg" class="user-img"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Alice</h2>
            <p>5 min ago</p>
          </ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding feed-item" no-padding>
          <img src="assets/feed.jpeg" width="110%">
        </ion-item>
        <ion-item>
          <ion-label class="post-text">
            <p>Alice, Its feel really exited in the nature I feel really exited when i am with the nature.</p>
            <h5 class="ion-margin-top">#Naturewithbeauty</h5>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="like-text">
    <ion-col size="5">
      <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
      <ion-icon name="heart" color="danger" class="heart-icon"></ion-icon>
      <ion-text>9.8K Likes</ion-text>
    </ion-col><ion-col size="4">
      <ion-icon name="chatbox-ellipses-outline" class="heart-icon"></ion-icon>
      <ion-text> 2K Comments</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text class="txt-share">Share</ion-text>
      <ion-icon name="arrow-redo-outline" class="heart-icon1"></ion-icon>
    </ion-col></ion-row>


  <ion-row>

    <ion-col size="12" class=" ion-margin-top ion-no-padding">

      <ion-list class="ion-no-padding" lines="none" no-lines>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/user1.jpeg" class="user-img"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Alice</h2>
            <p>5 min ago</p>
          </ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding feed-item" no-padding>
          <img src="assets/feed.jpeg" width="110%">
        </ion-item>
        <ion-item>
          <ion-label class="post-text">
            <p>Alice, Its feel really exited in the nature I feel really exited when i am with the nature.</p>
            <h5 class="ion-margin-top">#Naturewithbeauty</h5>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="like-text"><ion-col size="5">
      <ion-icon name="heart-outline" class="heart-icon"></ion-icon>
      <ion-icon name="heart" color="danger" class="heart-icon"></ion-icon>
      <ion-text>9.8K Likes</ion-text>
    </ion-col><ion-col size="4">
      <ion-icon name="chatbox-ellipses-outline" class="heart-icon"></ion-icon>
      <ion-text> 2K Comments</ion-text>
    </ion-col>
    <!-- <ion-col size="3">
      <ion-text class="txt-share">Share</ion-text>
      <ion-icon name="arrow-redo-outline" class="heart-icon1"></ion-icon>
    </ion-col> -->
  </ion-row>


</ion-content>