<ion-header>
  <ion-toolbar color="primary" class="ion-padding-end-10 header_tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title-header">Our Branches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class=" full_bg ion-margin-top ion-padding-top">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h4>For Any Query</h4>
      <p><ion-icon name="call"></ion-icon> +91-90419-90419</p>
      <p><ion-icon name="mail-open"></ion-icon> info@essglobal.com</p>
    </ion-col>
   <ion-row *ngIf="IndiaDiv">
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">01</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Ambala</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> 1307/465 block number 7 Prem Nagar Ambala city 134003</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
            <a href="https://goo.gl/maps/dyqaazHXtK4LEjsu9" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">02</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Amritsar</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> SCO-19, 3rd Floor, District Shopping Centre, B - Block, Ranjit Avenue</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
            <a href="https://goo.gl/maps/Gj6LEuq9FizXWGrf7" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">03</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Bathinda</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">1st & 2nd Floor, Street Number - 8(A) , Main Ajit Singh Road, Bathinda</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/sQqvgbTaaZ5v5JzW6" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">04</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Chandigarh</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">SCO 443-444, Second Floor, Sector 35-C, Chandigarh - 160022</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/3eBbzDt5mBgYco6m8" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
      </ion-col>
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">05</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Ganganagar</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">138 H block Radhe Shyam kothi road, Sri Ganganagar</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/rnJEEiKW2vbCvrd86" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">06</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Gurugram</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">211-212, 2nd Floor, Magnum Tower A, Golf Course Extension Road, Sector-58, Gurguram</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/vW9s7r66H2yG9TmX6" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">07</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Jalandhar</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">City Square Building, Ground Floor, Near Kesar Petrol Pump, BMC Chowk</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/DiCda47sw9cdn4WC8" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>
      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">08</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Jammu and Kashmir</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">564 A, Gole Market, Gandhi Nagar, Jammu, 180004</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/jSJz765k7snvGhacA" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">09</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Karnal</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">SCO 395, Mughal Canal Market, Karnal</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/19NNqy3y1JSh8BiM6" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">10</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Ludhiana</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">6th Floor Grandwalk Mall, Ferozepur Road</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/tz3RBZGVxx9tihcH9" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">11</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Moga</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">Near A2Z Photo Plaza Building GT Road , Opposite bus stand</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/ak35ThxnsPpEAkis6" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">12</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Noida</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">Plot no. 19 Sector, 127 Noida , Uttar Pradesh</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/Dvw2o47vtiBq1Z2J9" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">13</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Patiala</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">Above Nik Bakers near Head Post Office, Patiala, Punjab, 14700</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/8EZJnYANAAoGxar46" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">14</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Rudrapur</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">Near GABA Chowk</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/gdYLMR5Vft9enxpN9" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">15</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Yamuna Nagar</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">Sco 199 C, Ground Floor, Parasram Chowk, Model Town, Yamunanagar, Haryana 135001</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/qpj99d6o5dcuNoFz7" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    </ion-row>
    <ion-row *ngIf="CanadaDiv">
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">16</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Surrey</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> Unit 285, 8128 128 ST, Surrey, British Columbia, Canada</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/8vVAANMttX6NqbHp7" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">17</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Mississauga</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> Suite # 207, 7895 Tranmere Drive, Mississauga, Ontario, Canada</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
               <ion-item color="dark" class="ion-no-padding ion-no-margin ion-text-end">
             <a href="https://goo.gl/maps/BjaiWm7MKWTrzqZU8" target="_blank" slot="end" class="ion-no-margin ion-no-padding  map-link ion-text-end">View in Map</a></ion-item>  
        </ion-list>      
      </ion-card>
    </ion-col>
  </ion-row>



  <ion-row *ngIf="AusDiv">  
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">18</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Melbourne</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> Suite 616, 530 Little Collins Street, Melbourne, Australia</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
             
        </ion-list>      
      </ion-card>
    </ion-col>
    
    <ion-col size="12" size-sm="6" size-md="4">
      <ion-text class="count">18</ion-text>
      <ion-card class="ion-padding ion-card" color="dark">
        <h4>ESS Global Manila</h4>
        <ion-list class="ion-no-padding ion-no-margin" color="dark" lines="none" no-lines>
        <ion-item class="ion-no-padding ion-no-margin" color="dark">
          <ion-icon name="map-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding">  Unit 407, OMM-Citra Building, San Miguel Avenue, Ortigas Business Center, Pasig City, Metro Manila</p></ion-item>  
        <ion-item color="dark" class="ion-no-padding ion-no-margin">
          <ion-icon name="phone-portrait-outline" class="ion-padding-end ion-no-margin" slot="start"></ion-icon> <p class="ion-no-margin ion-no-padding"> +91-90419-90419</p></ion-item>  
              
        </ion-list>      
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-row>

</ion-content>


  <ion-tab-bar class="ion-tab-bar" slot="bottom">
    <ion-tab-button class="tab-btn" tab="home" (click)="viewCty('india')">
  <img src="assets/indiaflag.jpg" class="flag-img" width="35">
  <b> India</b>
    </ion-tab-button>
    <ion-tab-button class="tab-btn" tab="radio" (click)="viewCty('canada')">
      <img src="assets/canadaflag.jpg" class="flag-img" width="35">
    <b> Canada </b> 
    </ion-tab-button>
    <ion-tab-button class="tab-btn" tab="library" (click)="viewCty('aus')">
      <img src="assets/ausflag.jpg" class="flag-img" width="35">
    <b> Australia</b> 
    </ion-tab-button>

  </ion-tab-bar>
