.count { border-radius: 50%; width: 80px; height: 80px;  float:left;  --width: 80px; text-align: center;
line-height: 50px; background-color: #007dc4;margin:14px 0px 0px 16px !important; color:#fff; font-size: 18px;;}
.ion-card { float:left; margin-top:-40px;}
.map-link { color:#d7d9f5;}