<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/pages"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="ion-padding-top">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="submit()">Sign In</ion-button>
        <!-- <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>