<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary"> <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list lines="none" no-lines>

    <ion-item-sliding *ngFor="let item of userList" (click)="sendMsg(item)">
      <ion-item class="ion-item"> <ion-thumbnail slot="start">
          <img src="assets/user1.png" class="use-ico" />
        </ion-thumbnail>

        <ion-label>
          <h2>{{item?.name}}</h2>
          <p class="chat-txt">{{item?.message}}</p>
        </ion-label>
        <ion-note slot="end" class="ion-text-center ion-note">{{item?.current_time}}</ion-note>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
          <ion-badge color="danger">
            <ion-icon class="icon-del" name="trash-outline"></ion-icon>
          </ion-badge>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>