<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">  <ion-back-button defaultHref="/" slot="start" text="">
   <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list  lines="none" no-lines>
    <ion-item class="ion-padding-top">
      <div class="chat-first">
        <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
    <ion-item class="ion-padding-top">
      <div class="chat-sec">
      <p>  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>   <ion-item class="ion-padding-top">
      <div class="chat-first">
        <p>This book is a treatise  </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
    <ion-item class="ion-padding-top" slot="end">
      <div class="chat-sec">
      <p>  those interested. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
  </ion-list>
  </ion-content>