<ion-header [translucent]="true" >
  <ion-toolbar >  <ion-back-button defaultHref="/" slot="start" text="">
   <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>


  <ion-avatar slot="start">
              <img src="assets/Rectangle 110.png" width="90" />
            </ion-avatar>

      <ion-label class="ion-padding-vertical">
              <h2 class="ion-padding-start">Riya Sharma</h2>
              <p class="chat-txt ion-padding-start">Online</p>
            </ion-label><ion-icon name="ellipsis-horizontal" slot="end"></ion-icon>

    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list  lines="none" no-lines>
    <ion-item class="ion-padding-top">
      <div class="chat-first">
        <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
    <ion-item class="ion-padding-top ion-text-end">
      <div class="chat-sec" slot="end">
      <p>  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>   <ion-item class="ion-padding-top">
      <div class="chat-first">
        <p>This book is a treatise  </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
    <ion-item class="ion-padding-top ion-text-end" slot="end">
      <div class="chat-sec " slot="end">
      <p>  those interested. </p>
        <span class="time">11:00 am</span>
</div>    </ion-item>
<ion-item class="ion-padding-top ion-text-end" slot="end">
      <div class="chat-sec " slot="end">
      
              <img src="assets/Rectangle 110.png"  width="200" />
     <br>
        <span class="time">11:00 am</span>
</div>    </ion-item>



  </ion-list>

  </ion-content>  <ion-footer>
    <ion-list class="au-form ion-padding-start"  lines="none" no-lines>

      <ion-item class="ion-no-padding">
          <ion-input type="password" class="ion-input ion-padding" placeholder="  Type Something..."></ion-input>
          <ion-button class="plane-btn" color="primary"><ion-icon color="light"  name="paper-plane"></ion-icon></ion-button>
      </ion-item>
 </ion-list>
  </ion-footer>