<ion-header [translucent]="true">
  <ion-toolbar> <ion-back-button defaultHref="/student/profile" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>


    <ion-avatar slot="start">
      <img src="assets/esslogo.png" width="90" />
    </ion-avatar>

    <ion-label class="ion-padding-vertical">
      <h2 class="ion-padding-start">Ess support</h2>
      <p class="chat-txt ion-padding-start">Online</p>
    </ion-label><ion-icon name="ellipsis-horizontal" slot="end"></ion-icon>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top ion-padding-top">
  <ion-list lines="none" no-lines *ngFor="let item of chatList">
    <div>
    <ion-item class="" *ngIf="item?.user_id==student?.file_no">
      <div class="chat-first">
        <p>{{item?.message}}</p>
        <span class="time">{{item?.current_time}}</span>
      </div>
    </ion-item>
    <ion-item class=" ion-text-end" *ngIf="item?.user_id!==student?.file_no">
      <div class="chat-sec" slot="end">
         <p>{{item?.message}}</p>
        <span class="time">{{item?.current_time}}</span>
      </div>
    </ion-item> 
  </div>
  </ion-list>
</ion-content> 

<ion-footer>
  <ion-list class="au-form ion-padding-start" lines="none" no-lines>

    <ion-item class="ion-no-padding">
      <ion-textarea class="ion-textarea ion-padding" [(ngModel)]="message" name="message" placeholder=" Type Something..."></ion-textarea>
      <!-- <ion-button class="plane-btn" color="primary"><ion-icon (click)="sendMsg()" color="light" name="paper-plane"></ion-icon></ion-button> -->
      <ion-icon name="send-outline" class="plane-btn" slot="end" (click)="sendMsg()"></ion-icon>
    </ion-item>
  </ion-list>
</ion-footer>