<ion-header>
  <ion-toolbar color="primary" class="ion-padding-end-10 header_tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title-header">Our Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class=" full_bg ion-margin-top ion-padding-top">
  <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()">


    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-margin-bottom">
        <ion-title color="primary"> Select Services</ion-title>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-text-center ion-no-padding-start box1 light-primary">
 
            <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>       
              <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ion-padding-top ion-margin-bottom">
                Accommodation<br><img src="assets/accomodation.png" class="ion-img" width="40">
         
          </div>
        </ion-card>
      </ion-col>


      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-danger">
                     <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                     <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                      Collage change  <br><img src="assets/Collage.png" class="ion-img" width="40">
         
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-success">
                      <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                      <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                        Health insurance<br>
                          <img src="assets/health-insurance.png" class="ion-img" width="40">
     
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-info">
                  <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                  <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                    Education guidance<br>
                     <img src="assets/guidance.png" class="ion-img" width="40">         
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-purple">
                     <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                     <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                      Job assistance<br>
                       <img src="assets/assistance.png" class="ion-img" width="40">           
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-primary">
                     <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                     <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                      PR assistance<br>
                        <img src="assets/prassistance.png" class="ion-img" width="40">
        
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-danger">
            <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
            <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
              Social insurance number<br>
          <img src="assets/life-insurance.png" class="ion-img" width="40">        
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-success">
                  <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
                  <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
                    Study permit/extensions<br>
                     <img src="assets/extensions.png" class="ion-img" width="40">    
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="3" class="ion-no-padding-start ion-text-center ion-no-margin">
        <ion-card class="ion-no-margin-start ion-no-padding-start box1 light-info">
            <ion-checkbox class="ion-checkbox" justify="start"></ion-checkbox>
            <div class="ion-activatable ripple-parent ion-text-center ion-padding-top ion-margin-top ">
              Post study work visa<br>
                <img src="assets/Poststudy.png" class="ion-img" width="40">
          </div>
        </ion-card>
      </ion-col>


    </ion-row>
    <ion-row>
      <!-- <ion-col size="12" class="ion-padding">
        <ion-select formControlName="services" aria-label="Fruit" class="ion-form-control ion-padding-start" placeholder="Select Services"
          [multiple]="true">
          <ion-select-option value="accommodation">Accommodation</ion-select-option>
          <ion-select-option value="social insurance number">Social insurance number</ion-select-option>
          <ion-select-option value="collage change">Collage change</ion-select-option>
          <ion-select-option value="health insurance">Health insurance</ion-select-option>
          <ion-select-option value="education guidance">Education guidance</ion-select-option>
          <ion-select-option value="job assistance">Job assistance</ion-select-option>
          <ion-select-option value="pr assistance">PR assistance</ion-select-option>
          <ion-select-option value="study permit">Study permit/extensions</ion-select-option>
          <ion-select-option value="post study work visa">Post study work visa</ion-select-option>
        </ion-select>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['services'].errors?.['required']">
          Services is required.
        </span>
      </ion-col> -->

      <ion-col size="12" class="ion-padding">
        <ion-input formControlName="remarks" label="Remarks" labelPlacement="floating" class="ion-form-control ion-padding-start"
          placeholder="Remarks"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['remarks'].errors?.['required']">
          Remarks is required.
        </span>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-input label="Email" formControlName="email" labelPlacement="floating" class="ion-form-control ion-padding-start" placeholder="Email"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email'].errors?.['required']">
          Email is required.
        </span>
      </ion-col>

      <ion-col size="12" class="ion-padding">
        <ion-input label="Mobile Vg" formControlName="mobile_vg" labelPlacement="floating" class="ion-form-control ion-padding-start" placeholder="Mobile Vg"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['mobile_vg'].errors?.['required']">
          MobileVg is required.
        </span>
      </ion-col>

      <ion-col size="12" class="ion-padding">
        <ion-input label="Mobile" formControlName="mobile" labelPlacement="floating" class="ion-form-control ion-padding-start" placeholder="Mobile india"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl['mobile'].errors?.['required']">
          Mobile is required.
        </span>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-button type="submit" color="primary" expand="block">Request call back</ion-button>
      </ion-col>
      <ion-col>
        <ion-radio-group>
          <ion-item>
             <ion-radio slot="start" value="foo" checked></ion-radio>
             <ion-icon slot="start" mode="ios" name="radio-button-off" />
             <ion-label>foo</ion-label>
          </ion-item>
          <ion-item>
             <ion-radio slot="start" value="bar" checked></ion-radio>
             <ion-icon slot="start" mode="ios" name="radio-button-off" />
             <ion-label>bar</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </form>
</ion-content>