.cont-ico {
    margin: -30px 0px;
    position: relative;
    z-index: 99;
}

.contact-card {
    padding: 20px;
    background-color: #007dc4;
    color: #fff;
    width: 94%;
}

.ion-label {
    width: 100%;
    float: left;
}
ion-select {max-width:100%;  width:100% !important;}
.ion-input {
    width: 100% !important;
    height: 48px;
    border-radius: 4px;
    background: #EFEFEF;
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 10px;
    background-color: #eee;
    float: left;
    border: 1px solid #ddd;
    --border: 1px solid #ddd;
}

.btn-sub {
    width: 178px;
    border-radius: 10px;
    --border-radius: 10px;
    height: 53px;
    font-size: 20px;
    margin: 20px auto 10px;
}

.error {
    color: red; width: 100%; float:left; background: #f7f7f7;border-radius: 5px;
    border:1px solid #eee; margin-top:10px;padding: 5px; position: relative;}
    .error:after {  content: "";
        position: absolute;
        transition: all 0.3s ease-in;
        top: -20px;
        left: calc(10% - 10px);
        border-top: 10px solid transparent;
        border-bottom: 10px solid #eee;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
}