<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">

    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Contact Us </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class=" ion-padding-top ion-margin-top">
    <ion-col size="12" class="ion-text-center ion-padding ">
      <img src="assets/esslogo.png" alt="esslogo">
    </ion-col>
    <ion-col size="12" class="ion-text-center ion-no-padding">
      <img src="assets/contactus.png" alt="contactus">
    </ion-col>

    <ion-col size="12" class="ion-text-center ion-no-padding">
      <img src="assets/contact-ico.png" class="ion-float-start cont-ico" alt="contactus">
      <img src="assets/contact-ico.png" class="ion-float-end cont-ico" alt="contactus">

      <ion-card class="contact-card ion-text-center">
        <h3>How Can We Help You ?</h3>
        <p>Share your details with us and our team will contact you for assessment shortly.</p>

      </ion-card>
    </ion-col>
    <ion-col size="12">
    <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()">
      <ion-list lines="none" no-lines>
        <ion-item>
          <ion-col size="12" class=" ion-no-padding ion-margin-top">
            <ion-label class="ion-label ion-margin-top" color="primary">Enter First Name :</ion-label>
            <ion-input type="text" class="ion-input ion-padding-start" formControlName="first_name" placeholder="Enter First Name"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl['first_name'].errors?.['required']">
              First Name is required.
            </span>
          </ion-col>
         </ion-item>

        <ion-item>
          <ion-col size="12" class=" ion-no-padding ion-margin-top">
            <ion-label class="ion-label ion-margin-top" color="primary">Enter Last Name :</ion-label>
            <ion-input type="text" class="ion-input ion-padding-start" formControlName="last_name" placeholder="Enter Last Name"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl['last_name'].errors?.['required']">
              Last Name is required.
            </span>
          </ion-col>
        </ion-item>

        <ion-item>
          <ion-col size="12" class=" ion-no-padding ion-margin-top">
            <ion-label class="ion-label ion-margin-top" color="primary">Enter Mobile Number :</ion-label>
            <ion-input type="text" class="ion-input ion-padding-start" formControlName="mobile" placeholder="Enter Mobile Number"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl['mobile'].errors?.['required']">
              Mobile Number is required.
            </span>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="12" class=" ion-no-padding ion-margin-top">
            <ion-label class="ion-label ion-margin-top" color="primary">Choose Visa Category :</ion-label>
            <ion-select class="ion-input ion-padding-start" interface="popover" name="category" formControlName="vist_type"
              placeholder="Choose Visa Category" id="categoryDiv">
              <ion-select-option value="">--Choose Visa Category--</ion-select-option>
              <ion-select-option value="Student Visa">Student Visa</ion-select-option>
              <ion-select-option value="Permanent Residency">Permanent Residency</ion-select-option>
              <ion-select-option value="Citizenship By Investment">Citizenship By Investment</ion-select-option>
              <ion-select-option value="Tourist Visa">Tourist Visa</ion-select-option>
            </ion-select>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl['vist_type'].errors?.['required']">
              Visa category is required.
            </span>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="12" class=" ion-no-padding ion-margin-top">
            <ion-label class="ion-label ion-margin-top" color="primary">Enter Email Address :</ion-label>
            <ion-input type="text" class="ion-input ion-padding-start" formControlName="email"
              placeholder="Enter Email Address"></ion-input>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl['email'].errors?.['required']">
              Email is required.
            </span>
          </ion-col>
        </ion-item>
        <ion-item class="border-no-bottom">
          <ion-button type="submit" color="primary" class="btn-sub" expand="block">Submit</ion-button>
        </ion-item>
      </ion-list>
    </form>
  </ion-col>
  </ion-row>
</ion-content>