<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class=" ion-padding-top ion-margin-top">
    <ion-col size="12" class="ion-text-center ion-padding ">
      <img src="assets/esslogo.png" alt="esslogo">
    </ion-col>
    <ion-col size="12" class="ion-text-center ion-no-padding">
      <img src="assets/Aboutus.png" alt="Aboutus">
    </ion-col>
    <ion-col class="ion-padding">
      <ion-badge color="primary" >About ESS Global</ion-badge>
      <h4>We provide universal access to the world’s best immigration.</h4>
      <ion-text>Lorem ipsum dolor sit amet consectetur. Nisl nunc aliquam elementum nisi ornare eget.
         Lectus egestas interdum pulvinar aliquet lobortis. Convallis volutpat praesent semper id lobortis purus adipiscing sagittis. Gravida blandit ut mattis sed ipsum eu. Amet amet gravida tortor vitae vitae quis non urna odio. Auctor egestas sollicitudin blandit amet viverra id ut. Amet quis auctor euismod neque nisl. Venenatis ornare vel vel malesuada aliquet elit adipiscing.
         Felis ut fringilla egestas posuere et feugiat posuere laoreet sit.</ion-text>
<div class="exp-txt ion-float-end" >15 years of experience</div>
    </ion-col>
    </ion-row>
  </ion-content>
