.link-btn { text-align: center; height:80px !important; width: 100%;
    font-size: 22px; border-radius: 10px;
}
.int-text p{ background-color: #057cc5; color:#fff; padding: 10px ; 
    width: 100%; text-align: center; margin-top: -30px; margin-bottom: 0px; position: relative;}
    .card-mt {margin-top: 35%;}