<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-padding-vertical ion-text-center">
    <ion-back-button defaultHref="/" slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-back-button>
    <img src="assets/esslogo.png" width="140" alt="" class="ion-margin-top">
  </ion-toolbar>

  <ion-row>

    <ion-col size="6">
      <ion-card class="ion-no-padding " [routerLink]="['/student/profile']">
        <img src="assets/Rectangle 90.jpg" width="100%">
        <ion-text class="int-text">
          <p>Profile</p>
        </ion-text>
      </ion-card>
    </ion-col>


    <ion-col size="6">
      <ion-card class="ion-no-padding" [routerLink]="['/student/metting']">
        <img src="assets/Rectangle 96.png" width="100%">
        <ion-text class="int-text">
          <p>Join Meeting</p>
        </ion-text>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="ion-no-padding">
        <img src="assets/Rectangle 81.jpg" width="100%">
        <ion-text class="int-text">
          <p>Study Material</p>
        </ion-text>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="ion-no-padding" [routerLink]="['/student/test-paper']">
        <img src="assets/Rectangle 91.jpg" width="100%">
        <ion-text class="int-text">
          <p>Test</p>
        </ion-text>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-content>