<ion-header  color="primary"> 
 <ion-toolbar  color="primary"  class="ion-padding-top ">
    <ion-back-button defaultHref="/" slot="start" color="light">
      <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
    </ion-back-button>
    <!-- <ion-title class="text-heading" color="light">Student Menu</ion-title> -->

        <ion-icon name="notifications-outline" class="logout-ico" slot="end" color="light"></ion-icon>
   <ion-icon class="logout-ico" name="power" slot="end" color="light" (click)="logout()"></ion-icon>
  </ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6">
      <ion-card class="ion-no-padding " [routerLink]="['/student/profile']">
        <img src="assets/Rectangle 90.jpg" width="100%">
        <ion-text class="int-text">
          <p>Profile</p>
        </ion-text>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-padding" [routerLink]="['/student/metting']">
        <img src="assets/Rectangle 96.png" width="100%">
        <ion-text class="int-text">
          <p>Join Meeting</p>
        </ion-text>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-padding">
        <img src="assets/Rectangle 81.jpg" width="100%">
        <ion-text class="int-text">
          <p>Study Material</p>
        </ion-text>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="ion-no-padding" [routerLink]="['/student/test-paper']">
        <img src="assets/Rectangle 91.jpg" width="100%">
        <ion-text class="int-text">
          <p>Test</p>
        </ion-text>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>