<ion-header color="primary">
  <ion-toolbar color="primary" class="ion-padding-top ">
    <ion-back-button defaultHref="/" slot="start" color="light">
      <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
    </ion-back-button>
    <ion-icon id="open-modal" expand="block" class="noti-icon" name="notifications-outline" slot="end"></ion-icon>
    <div class="count-noti" *ngIf="cNoti">{{cNoti}}</div>
    <ion-icon class="logout-ico" name="power" slot="end" color="light" (click)="logout()"></ion-icon>
  </ion-toolbar>
  <ion-content [fullscreen]="true">
    <ion-row>
      <ion-col size="6">
        <ion-card class="ion-no-padding " [routerLink]="['/student/profile']">
          <img src="assets/Rectangle 90.jpg" width="100%">
          <ion-text class="int-text">
            <p>Profile</p>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6" *ngIf="noticDiv">
        <ion-card class="ion-no-padding" [routerLink]="['/student/metting']">
          <img src="assets/Rectangle 96.png" width="100%">
          <ion-text class="int-text">
            <p>Join Meeting</p>
          </ion-text>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="6" *ngIf="studiv">
        <ion-card class="ion-no-padding">
          <img src="assets/Rectangle 81.jpg" width="100%">
          <ion-text class="int-text">
            <p>Study Material</p>
          </ion-text>
        </ion-card>
      </ion-col> -->
      <ion-col size="6" *ngIf="testdiv">
        <ion-card class="ion-no-padding" (click)="testpaper()">
          <img src="assets/Rectangle 91.jpg" width="100%">
          <ion-text class="int-text">
            <p>Test</p>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="chatDiv">
        <ion-card class="ion-no-padding" [routerLink]="['/student/chat-list']">
          <img src="assets/Rectangle 91.jpg" width="100%">
          <ion-text class="int-text">
            <p>chat</p>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngIf="vgdiv">
        <ion-card class="ion-no-padding"  [routerLink]="['/student/services']">
          <img src="assets/Rectangle 91.jpg" width="100%">
          <ion-text class="int-text">
            <p>Our services</p>
          </ion-text>
        </ion-card>
      </ion-col>

     <ion-col size="6">
        <ion-card class="ion-no-padding"  [routerLink]="['/student/demo']">
          <img src="assets/Rectangle 91.jpg" width="100%">
          <ion-text class="int-text">
            <p>Video</p>
          </ion-text>
        </ion-card>
      </ion-col> 

    </ion-row>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-back-button (click)="setOpen(false)" slot="start" color="light">
              <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
            </ion-back-button>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-card *ngFor="let item of TopicList">
            <ion-card-header>
              {{item?.topic}}
            </ion-card-header>
            <ion-button expand="full" shape="round" (click)="OpenTestPaper(item)">Start Test</ion-button>
           </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>


  
  
     
    
        <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <!-- <ion-title>Modal</ion-title> -->
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let item of notificationList" (click)="view(item)" (click)="modal.dismiss()">
                  <ion-avatar slot="start">
                    <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <p>{{item?.message}}</p>
                  </ion-label>
                </ion-item>
              
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      
    
  </ion-content>