.text-heading {
   font-size: 24px;
   color: #fff;
}

.btn-sub {
   max-width: 400px;
   width: 100%;
   border-radius: 20px;
   font-size: 28px;
   --border-radius: 20px;
   height: 100px;
   margin: 20px auto 10px;
}

.btn-sub {
   max-width: 400px;
   width: 100%;
   border-radius: 20px;
   font-size: 28px;
   --border-radius: 20px;
   height: 100px;
   margin: 20px auto 10px;
}

.back-ico {
   color: #fff !important;
}

.card-txt {
   border-radius: 40px;
   --border-radius: 40px;
   background: #eee;
   --background: #eee;
   margin: 10px auto;
   box-shadow: 0px 0px 10px #333;
}

.tst-btn {
   width: 130px;
   height: 40px;
   border-radius: 20px;
   --border-radius: 20px;
   margin: 15px auto 0px;
}

.slf-txt {
   font-size: 20px;
   line-height: 70px;
   padding-top: 0px;
   float: left;
   color: #333;
   font-weight: bold
}

.card-txt ion-card-title {
   padding: 8px;
   font-size: 16px;
}

.card-txt {
   padding: 20px;
}

.card-txt p {
   width: 90%;
   margin: 0px auto 20px
}



swiper-container {
   width: 100%;
   height: 100%;
}

swiper-slide {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }