<ion-header>
  <ion-toolbar color="primary" class="ion-padding-end-10 header_tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/student"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title-header">{{topicName}}</ion-title>
  </ion-toolbar>
</ion-header> 
  <ion-content fullscreen class="full_bg">
    <ion-card color="tertiary" *ngIf="scoreCard">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Score Card</ion-card-title>
        <ion-card-subtitle class="ion-text-center ion-padding"><h2>{{RightAns}}/{{NumOfQuestion}}</h2></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-item *ngIf="showQuestionCountDiv">{{countClick}} of /{{NumOfQuestion}} </ion-item>
    <div *ngFor="let item of QuestionList, let i=index">
    <ion-card *ngIf="i==l">
      <ion-card-content>
        <b>{{item?.question}}</b>
      </ion-card-content>
      <ion-list>
        <ion-radio-group  [allowEmptySelection]="true" value="strawberries">
        <ion-item>
          <ion-label>{{item?.opt_a}}</ion-label>
          <ion-radio justify="end" value="{{item?.opt_a}}" (click)="chk(item?.topic_id,item?.opt_a,item?.ans)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{item?.opt_b}}</ion-label>
          <ion-radio justify="end" value="{{item?.opt_b}}" (click)="chk(item?.topic_id,item?.opt_b,item?.ans)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>{{item?.opt_c}}</ion-label>
          <ion-radio justify="end" value="{{item?.opt_c}}" (click)="chk(item?.topic_id,item?.opt_c,item?.ans)"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{item?.opt_d}}</ion-label>
          <ion-radio justify="end" value="{{item?.opt_d}}" (click)="chk(item?.topic_id,item?.opt_d,item?.ans)"></ion-radio>
        </ion-item>
        </ion-radio-group>
      </ion-list>
     </ion-card>
    </div>
  </ion-content>

  