<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-back-button defaultHref="/" slot="start" color="light">
      <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
    </ion-back-button>
    <h2 class=" text-heading ion-padding-end">Test Paper</h2>
  </ion-toolbar>

    <ion-row class=" ion-padding-top ion-margin-top ion-justify-content-center">
      <ion-col size="12"  class="ion-text-center">
        <img src="assets/imagetest.png" alt="">
      </ion-col>
      <ion-col size="12" size="sm-6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >

  
    <p>Multiple choice question on La Trobe University</p>
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   
      </ion-card>
    </ion-col>
         <ion-col size="12" size="sm-6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >
        <p>Multiple choice question on La Trobe University </p>
  
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   
      </ion-card>
    </ion-col>
         <ion-col size="12" size="sm-6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >
        <p>Multiple choice question on La Trobe University </p>
  
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   
      </ion-card>
    </ion-col>
         <ion-col size="12" size="sm-6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >
        <p>Multiple choice question on La Trobe University </p>
  
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   
      </ion-card>
    </ion-col>

    </ion-row>
  </ion-content>
  
