<ion-content [fullscreen]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-back-button defaultHref="/" slot="start" color="light">
      <ion-icon class="back-ico" name="arrow-back-outline" color="light"></ion-icon>
    </ion-back-button>
    <h2 class=" text-heading ion-padding-end">Test Paper</h2>
  </ion-toolbar>

    <ion-row class=" ion-padding-top ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img src="assets/imagetest.png" alt="">
      </ion-col>
      <ion-col size="6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >  <ion-card-header class="ion-no-padding" color="primary">
    <ion-card-title>Topic</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   </ion-card-content>
      </ion-card>
    </ion-col>
         <ion-col size="6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >  <ion-card-header class="ion-no-padding" color="primary">
    <ion-card-title>Topic</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   </ion-card-content>
      </ion-card>
    </ion-col>
         <ion-col size="6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >  <ion-card-header class="ion-no-padding" color="primary">
    <ion-card-title>Topic</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   </ion-card-content>
      </ion-card>
    </ion-col>
         <ion-col size="6" class="ion-text-center ion-no-padding">
        <ion-card class="card-txt ion-text-center" >  <ion-card-header class="ion-no-padding" color="primary">
    <ion-card-title>Topic</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <img src="assets/TestResults.png" width="60"> <span  class="slf-txt"></span><ion-button color="primary" class="tst-btn" expand="block" [routerLink]="['/pages/staff-login']"> Start Test</ion-button>
   </ion-card-content>
      </ion-card>
    </ion-col>

    </ion-row>
  </ion-content>
  
