<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Interview link</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-bg ion-padding-top ion-margin-top">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class=" ion-padding ion-text-center">
      <img src="assets/Interview-amico.png">


    </ion-col>
    <ion-col size="12" size-sm="6" size-lg="4" class="ion-no-padding" *ngFor="let item of mettingList">
      <ion-card class="link-card">
        <ion-row><ion-col size="6" class=" ion-no-padding ion-text-center">
            <ion-label class="ion-text-h">{{item?.branch_name}}</ion-label></ion-col>
          <ion-col size="6" class=" ion-no-padding ion-text-center">
            <ion-label class="ion-text-h">{{item?.date| date}}</ion-label>
          </ion-col>
          <ion-col size="12" class="ion-padding-horizontal ion-text-center">
            <p>{{item?.admin_link}}</p>
            <ion-button color="primary" class="ion-float-end ion-no-padding ion-no-margin" (click)="copyLink(item.admin_link)">
              <ion-icon name="documents" slot="end"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3" class=" ion-no-padding ion-text-center card-bt">

            <ion-label><ion-icon name="person"></ion-icon><ion-badge color="light"
                slot="end">{{item?.branch_stu}}</ion-badge><br> Student</ion-label>
          </ion-col>
          <ion-col size="4" class=" ion-no-padding ion-text-center card-bt" (click)="openBrowser(item?.admin_link)">

            <ion-label><ion-icon name="create"></ion-icon><br> Open Link</ion-label>
          </ion-col>
          <ion-col size="4" class=" ion-no-padding ion-no-margin ion-text-center card-bt">
            <ion-toggle class="height-small" color="light" *ngIf="item?.status==0" [checked]="false"
              (ionChange)="disbaleLink($event,item?.admin_link)">Checked Toggle</ion-toggle>
            <ion-toggle class="height-small" color="light" *ngIf="item?.status==1" [checked]="true"
              (ionChange)="disbaleLink($event,item?.admin_link)">Checked Toggle</ion-toggle>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>