.text-heading {
    font-size: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
  
  ion-toolbar {
    height: 60px;
  }
  
  .link-card {
    width: 92%;padding:15px 10px;
    min-height: 190px;
    box-shadow: 0px 0px 10px #333;
  
    --background: #007CC5 !important;
    border-radius: 50px;
    background: #007CC5 !important;
  }
  
  .ion-title {
    font-size: 17px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .ion-text-h {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
  }
  
  .link-card p {
    color: #fff;
  }
  
  .card-bt {
    font-size: 14px;
    color: #fff;
  }
  
  .link-card p {
    margin-bottom: 0px;
  }
  
  .link-card ion-icon {
    font-size: 20px;
  }
  
.height-small {
    height: 18px !important;
    --handle-width: 14px !important;
    margin-top: -8px !important;
    width: 34px !important;
  }
  
.native-wrapper .toggle-icon {
  width: 34px !important;
  height: 18px !important; 
   --width: 34px !important;
  --height: 18px !important;}
  
  ion-badge,
  ion-badge.ion-color.ion-color-light.ios.hydrated {
    font-size: 10px;
    padding: 3px;
    margin-top: -10px;
    position: absolute;
  }
  
  .toggle-icon {    height: 10px !important; --height: 10px !important;
    margin-top: -8px;
    --handle-width: 14px;
    width: 34px;
    background: #fff;
    --background: #fff;
    border: 1px solid #fff !important;
    --border: 1px solid #fff !important;
  }