.ion-note { color:#aaa; line-height:18px}
.chat-txt { margin-top:10px}
.ion-item { border-bottom:1px solid #ccc; padding:5px 0px}
ion-item-option { background:#fff;--background:#fff ; border-bottom:1px solid #ccc}
ion-item-option .icon-del { font-size:32px}