<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">  <ion-back-button defaultHref="/" slot="start" text="">
   <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list lines="none" no-lines>

      <ion-item-sliding>
    <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 110.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Riya Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 111.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Rajat Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">12:05 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option>
        <ion-badge color="danger">
          <ion-icon class="icon-del" name="trash-outline"></ion-icon>
        </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 112.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Shilpa Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">01:12 pm<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 113.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Atul  Jaiswal</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 114.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Simran Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Yesterday</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 115.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Ayush Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">01:12 pm<br>Yesterday</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 116.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Arti Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>26-08-2023</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


    <ion-item-sliding>
      <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 110.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Riya Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 111.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Rajat Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">12:05 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 112.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Shilpa Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">01:12 pm<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 113.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Atul  Jaiswal</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Today</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

        <ion-item-sliding>
          <ion-item class="ion-item">  <ion-thumbnail slot="start">
              <img src="assets/Rectangle 114.png" />
            </ion-thumbnail>

      <ion-label>
              <h2>Simran Sharma</h2>
              <p class="chat-txt">Hi Mam Actually i am looking for a Teacher.</p>
            </ion-label>
  <ion-note slot="end" class="ion-text-center ion-note">11:12 am<br>Yesterday</ion-note>
</ion-item>
 <ion-item-options>
      
      <ion-item-option><ion-badge color="danger">
        <ion-icon class="icon-del" name="trash-outline"></ion-icon>
      </ion-badge></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>
</ion-content>