<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-back-button>
    <ion-buttons slot="end" (click)="setOpen(true)">
      <ion-button><ion-icon name="people-outline" slot="end" size="large"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
     <ion-button fill="outline" slot="end" size="default" (click)="addStu()">
       Add  Student
     </ion-button>
     <ion-input [(ngModel)]="fileNo" name="meetingLink" placeholder="Enter file no"></ion-input>
    </ion-item>
   </ion-list>
  <ion-list lines="none" no-lines>

      <ion-item class="ion-item" *ngFor="let item of myStudentList"> 
        <ion-thumbnail slot="start">
          <img src="assets/user1.png" />
        </ion-thumbnail>

        <ion-label (click)="goToChat(item)">
          <h2> {{item?.stu_name}} </h2>
          <p class="chat-txt">{{item?.message}}</p>
        </ion-label>
        <ion-note slot="end" class="ion-text-center ion-note">{{item?.time}}</ion-note>
        <ion-badge color="success" slot="end" *ngIf="item?.unreadyMsg">{{item?.unreadyMsg}}</ion-badge>
      </ion-item>
      

  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
     <ion-list *ngIf="showcreateGroupDiv">
      <ion-item>
        <ion-label position="stacked">Your name</ion-label>
        <ion-input [(ngModel)]="groupName" name="groupName" placeholder="Your name"></ion-input>
      </ion-item>
      <ion-button class="ion-margin-top" expand="full" shape="round" size="medium" (click)="creteGb()">Create new group</ion-button>
     </ion-list>
     <ion-list *ngIf="hidecreateGroupDiv">
      <!-- <ion-item *ngFor="let fri of myfriList">
        <ion-label>
          {{fri?.stu_name}}
        </ion-label>
      </ion-item> -->
    
        <ion-item *ngFor="let fri of myfriList">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="assets/avatar.svg" />
          </ion-avatar>
          <ion-label> {{fri?.stu_name}}</ion-label>
          <ion-checkbox slot="end" (ionChange)="chk($event,fri)"></ion-checkbox>
        </ion-item>
      
     </ion-list>
    </ion-content>
    <ion-footer *ngIf="showcNextDiv">
      <ion-button expand="full" shape="round" (click)="next()">Next</ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>
</ion-content>