<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary" class="ion-text-center">
    
    <ion-back-button defaultHref="/interview" slot="start" text="">
      <ion-icon name="chevron-back-outline"></ion-icon></ion-back-button>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class=" ion-padding-top ion-margin-top">
    <ion-col size="12" class="ion-text-center ion-no-padding">
      <img src="assets/attendance.png" alt="attendance">
    </ion-col>

    <ion-col size="12" >
      <ion-list lines="none" class="ion-no-padding ion-text-center " no-lines>
        <ion-item class="border-no-bottom pro-in" *ngFor="let item of attendanceList">
          <ion-thumbnail>
            <img alt="user1" src="assets/user1.png" width="40" /> 
          </ion-thumbnail>

          <ion-note slot="end" class="nme ion-text-center ion-no-margin">{{item?.name}}<br>
          <span>{{item?.file_no}}</span></ion-note>
          <ion-note slot="end" class=" ion-no-margin ion-text-center " color="primary">Check In<br>
          <span>{{item?.join_time}}</span></ion-note>
        
          <ion-note slot="end" class=" ion-no-margin ion-text-center " color="primary">
            Check Out<br><span>
              {{item?.end_time}}
            </span></ion-note>
        </ion-item> 
       

      </ion-list>
    </ion-col>

    </ion-row>
  </ion-content>
