.ion-formbg {
    position: relative;
    z-index: 99;
    --margin-top: -170px !important;
    margin-top: -170px !important;
    border-radius: 50px !important;
    --border-radius: 50px !important;
    --background-color: #fff;
    background-color: #fff;
    border-top: 20px solid #007dc4
}
.checkbox-icon { border-radius:0px !important;--border-radius:0px !important; --white-space:normal !important; font-size:12px !important; --font-size:12px !important;white-space:normal}
.text-heading {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    --font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.text-heading span {
    color: #007dc4 !important;
}

.ion-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 18px;
    color: #666; margin:10px 0px 10px;
    padding: 0px;
}

.btn-sub {
    width: 178px; font-size: 18pxs;
    border-radius: 10px;
    --border-radius: 10px;
    height: 43px;
    margin: 20px auto 10px;
}

ion-item.border-no-bottom {
    border-bottom: 0px !important;
    --border-bottom: 0px !important;
}
body.keyboard-open.platform-ios ion-content {bottom:40px}
ion-toobar
{ --background:transparent !important;
--ion-color-base:transparent !important}